Werkzeug==2.2.2
Flask~=2.0.2
redis~=4.0.2
PyYAML~=6.0
pytest~=6.2.5
sympy~=1.9
flask_cors
gunicorn
psycopg2-binary
flask_sqlalchemy
flask_migrate

cryptography~=36.0.0
alembic~=1.7.5
SQLAlchemy~=1.4.27
